{% load i18n %}
{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% trans "Mój sklep" %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">{% trans "Mój sklep" %}</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    {% trans "Koszyk" %}:
                    <a href="{% url "cart:cart_detail" %}">
                        {% blocktrans with total=cart.get_total_price count items=total_items %}
                            {{ items }} item, {{ total }} zł
                        {% plural %}
                            {{ items }} items, {{ total }} zł
                        {% endblocktrans %}
                    </a>
                {% elif not order %}
                    {% trans "Koszyk jest pusty" %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>